[user]
  name = chewcw
  email = chwai87@gmail.com
[diff]
	tool = vimdiff
  prompt = false
[difftool "vimdiff"]
  cmd = vimdiff -u /home/ccw/.vimrc -c \"wincmd L\" -c \"windo set wrap\" \"$BASE\" \"$REMOTE\"
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
[mergetool "vimdiff"]
  # https://www.linkedin.com/pulse/how-set-up-3-way-merge-tool-git-p4-vimdiff-wasin-thonkaew
  cmd = vimdiff -u /home/ccw/.vimrc -c \"wincmd J\" -c \"windo set wrap\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
  keepBackup = false
