[user]
  name = ChewCW
  email = chwai87@gmail.com
[diff]
	tool = vimdiff
  prompt = false
[difftool "vimdiff"]
  cmd = vimdiff -u /home/ccw/.vimrc -c \"wincmd L\" -c \"windo set wrap\" \"$BASE\" \"$REMOTE\"
[merge]
  tool = vimdiff
  conflictstyle = diff3
  prompt = false
[mergetool "vimdiff"]
  # https://www.linkedin.com/pulse/how-set-up-3-way-merge-tool-git-p4-vimdiff-wasin-thonkaew
  cmd = vimdiff -u /home/ccw/.vimrc -c \"wincmd J\" -c \"windo set wrap\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
  keepBackup = false
[rerere]
  enabled = true
  autoUpdate = true
[maintenance]
	repo = /home/ccw/Documents/dtfs
[alias]
  g = git
  l = log
  ll = log --graph --pretty=format:\"%h %Cred%an %Cblue%aI %Cred%d%Cgreen%s\"
  f = fetch
  b = branch
  s = stage
  r = rebase
  cp = cherry-pick
  st = status
  c = commit
  co = checkout
  m = merge
  cz = stash
  P = pull
  p = push
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
